img{
    width: 100%;
    height: 100%;
}
html{
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}
.texto{
    text-align: center;
}
.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}
/*UTILIDADES*/
.boton{
    text-decoration: none;
    color: white;
    background-color: rgb(22, 157, 157);
    font-weight: 400;
    padding: 1rem;
    border-radius: 2rem;
}
.boton:hover{
    background-color: rgb(65, 24, 103);
}
/*CABEZEERA*/
.cabeza{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    justify-items: center;
    background-color: teal;
    cursor: pointer;
    /* max-height: 100vh;
    position: fixed; */
    z-index: 3;
}
.cabeza h2{
    color: white;
}
.cabeza div:hover{
    pointer-events: stroke;
    padding: 0 2rem 0 2rem;
    background-color: #D4AC0D;
}
.cabeza a{
    text-decoration: none;
}
.contenedor{
    margin: 0 auto;
    max-width: 70rem;
}

/*Principal*/
.principal{
    position: relative;
    height: 30rem;   
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenido-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    color: white;
}
.pantallaNegra{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    height: 30rem;
    z-index: 1;
}
.contenido-principal h2,h1, a, p{
    z-index: 2;
    text-align: center;
}

.contenido-principal .fas{
    color:  #D4AC0D ;
    margin-right: .5rem;
    font-size: 5rem;
}
/*Fondo*/
.fondo{
    margin-top: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 5rem;
    box-shadow: turquoise;
}
.fondo h1{
    text-align: center;
}
.servicios{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.contenido-central{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}
.contenido-central p{
    text-align: center;
    line-height: 1.5rem;
    font-weight: 300;
}
.contenido-central h2{
    text-align: center;
    margin-bottom: 2rem;
}
.contenido-central i{
    padding: 2.8rem;
    font-size: 2.3rem;
    background-color: rgb(247, 193, 16);
    border-radius: 5rem;
    color: black;
}
/*CONTACTOS*/
.contacto{
    max-width: min(40rem, 100%);
    margin: 0 auto;
    background-color: gray;
    padding: 3rem;
    border-radius: 2rem;
}
.nombre{
    display: flex;  
    margin-bottom: 1.5rem;
    align-items: baseline;
}
.contenedor1 input, textarea{
    margin: 0 .6rem 0 .6rem;
    width: 100%;
    border: none;
    border-radius: .6rem;
    border-color: white;
    padding: .5rem;
}
.contenedor1 h3{
    color: rgba(240, 243, 83, 0.843);
    text-align: center;
    font-weight: 800;
}
.contenedor1 label{
    min-width: 6rem;
    color: white;
    font-weight: 600;
}
.datos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: baseline;
}
.columnas2{
    display: flex;
}

/* .datos .correo{
    margin-right: 0.7rem;
} */
.abajo p{
    text-align: center;
    font-weight: 200;
}
.enviar{
    display: flex;
    justify-content: flex-end;
}
.abajo span{
    font-weight: 600;
}
/*MODO RESPONSIVE*/
@media screen and (max-width:770px) {
    html{
        font-size: 15px;
    }
    .contenedor1 label{
        width: 7rem;
    }
    /*Cabezera*/
    .cabeza{
        display: grid;
        grid-template-columns: 100%;
    }
    .contenedor1{
        max-width: 40rem;
    }
    .contacto{
        width: min(25rem, 100%);
    }
    .nombre{
        display: flex;
        flex-direction: column;
    }
    .formulario{
        display: block;
    }
    .columnas2{
        display: block;
    }
    .enviar{
        display: flex;
        min-width: 10rem;
        justify-content: center;
    }
    
}
.abajo{
    padding-top: 1.5rem;
    background-color: gainsboro;
    height: 4rem;
}
.abajo p{
    padding-bottom: 1.5rem;
}
.abajo a{
    font-size: 1.5rem;
    margin-left: .5rem;
    text-decoration: none;
    color: black;
}
@media screen and (max-width:550px){
    .contacto{
        width: min(23rem, 100%);
    }
    .servicios{
        display: block;
    }
    .boton{
        width: 90%;
    }
    .enviar{
        
        display: flex;
        justify-content: center;
    }
    .cabeza div:hover{
        cursor: pointer;
        pointer-events: stroke;
        padding: 0 100%;
        background-color: #D4AC0D;
    }
}
/* Mensjae de error */
/* .errorform{
    display: flex;
} */
.errorform{
    font-weight: 600;
    background-color: rgb(214, 23, 23);
    margin-top: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 2rem;
    padding: 1.2rem;
}
.right{
    font-weight: 600;
    background-color: rgb(40, 58, 144);
    margin-top: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 2rem;
    padding: 1.2rem;
    
}